<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
    <input type="text" th:value="${paymentById}">
    <br/>
    <input type="text" th:value="${timeout}">
    <br/>
    <input type="button" id="test" value="按钮示例">
    <br/>
    <textarea th:value="${textarea}" th:text="${textarea}" rows="5" cols="100">

    </textarea>
</body>
<script type="text/javascript">
    $(function () {

    });

    $("#test").click(function () {
       alert("111");

    });
</script>
</html>